@import '/usr/local/lib/node_modules/nib/lib/nib'

global-reset()

alBlack = #414042 
*
  border 0

footer
  margin-top 99%
  text-align center
 

 
a
  color alBlack
  text-decoration none
  &:hover
    color darken(blue, 20%)
    text-decoration underline

.bg-container
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  height 100%

.things
  width 270px
  margin-right 10px

  & .thumb
    max-height 50px
    width auto
    float left
    margin-right 16px
  
  & .disclosure
    width 10px
    margin-right 10px
    height 100%
    float right
    background url("/img/accessory-arrow-image.png") no-repeat center center 

  & li
    width 270px
    height 55px
    border-bottom 1px solid #b6b99b
    background linear-gradient(top, #fff, lighten(#b6b99b, 75%))
    opacity 0.75 
    margin-top 0
    overflow hidden

    &:hover
       opacity 1

    & h3, & p
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      
    & h3
      color alBlack
      font-weight bold
      font-size 18px
      width 240px
      text-align right
      float left
      display inline
      line-height 35px
      &a:hover
        text-decoration none
 
.thingsLeft
  padding-top  170px

.thingsRight
  margin-left auto
  margin-top 170px
  margin-right 50px


.header
  height 60px
  background-color #F8F8F8
  border-bottom-color #E0E0E0
  border-bottom-style solid
  border-bottom-width 1px

.contentHeaderText
 color white
 font-size 36px
 font-weight bold
 line-height 35px
 text-shadow 0px 2px 7px #000000
 padding-top 30px
 margin-left 10%

.container-fluid
  margin-left auto
  margin-right auto
  max-width 940px

.headerControls 
  float right
  margin-top 20px

@media (max-width:480px)
  .hidden-phone
    display none
  .visible-phone
    display block
@media (min-width: 768px)
  .hidden-desktop
    display none

.content
  margin-top 5px
  background-color white
  border-bottom-color #E1E1E1
  border-bottom-style solid
  border-bottom-width 1px

.homeHeader
  width 215px
  display inline
  margin-top 5px

.headerAlert
  display inline
  float left
  padding 5px 14px 5px 14px
  color #C09853
  text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
  background-color #FCF8E3
  border 1px solid #FBEED5
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px

.inline
  display inline

.hidden
  display none

.invisible
  visibility hidden

.text-warning 
  color: #c09853;

.text-error 
  color: #b94a48;

.text-info 
  color: #3a87ad;

.text-success 
  color: #468847;

.center
  margin-left auto
  margin-right auto

.userLoginOutButton
  width 50px
  margin-top 4px
  margin-left 5px

.headerButtonRight
  float right
  margin-top 10px

.reward
  height 277px

.rewardQuantity
  float right
  margin-top 22px

.opinionText
  margin-left 20px
  margin-bottom 10px
  margin-top 2px

.opinionParagraph:last-child
  margin-bottom 3px

.feedbackLink
  font-size 11px
  color: #468847;
  float right
  border: 1px solid #DDD;
  padding-top 8px
  padding-bottom 8px
  padding-left 4px
  padding-right 4px
  line-height 20px

@media (max-width: 480px)
  #rewardBox
    background-color white
    border 0
 
.fade-overlay {
   position absolute
   background-position center
   opacity 0.0
   width 100%
   height 100%
   border-radius 50%
}
